  <mat-toolbar class="mat-elevation-z6" color="primary">
    <div class="logo-conteiner">
      <img class="logo" [routerLink]="['/lista-produtos']" style="width: 50px" src="assets/avatar.avif">
      <a class="titulo" [routerLink]="['/lista-produtos']" routerLinkActive="router-link-active">
        Product Management
      </a>
    </div>

    <div class="rigth">
      <button class="btn-link"
      (click)="redirecionarParaHome()"
      mat-icon-button>
        <mat-icon fontIcon="home"></mat-icon>
        <span class="nome-pagina">Home</span>
      </button>

      <button class="btn-link"
      (click)="redirecionarParaTelaCadastro()"
        mat-icon-button>
        <mat-icon fontIcon="description"></mat-icon>
        <span class="nome-pagina">Register</span>
      </button>
    </div>
  </mat-toolbar>
