
.icone-editar{
  margin-bottom: -5px;
  margin-right: 10px;
  cursor: pointer;
  color: #ffd740;
}

.mdc-data-table__table {
  padding: 20px;
  border-radius: 20px;
}

.table-container {
  display: flex;
  margin: 20px;
}
